@font-face {
  font-family: 'ArbelHagilda';
  src: url('/fonts/ArbelHagilda-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ArbelHagilda';
  src: url('/fonts/ArbelHagilda-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --black: #171717;
  --white: #fffdfd;
  --grey: #8e8a7f;
  --yellow: #ffe732;
  --green: #00a168;
  --red: #f43f38;
  --font-main: 'ArbelHagilda', Arial, sans-serif;
  --cursor-default: url('/images/Cursor_Default.svg') 0 0, auto;
  --cursor-hover: url('/images/Cursor_Hover.svg') 0 0, pointer;
  --cursor-unavailable: url('/images/Cursor_Unavailable.svg') 16 16, not-allowed;
  --cursor-hover-drag: url('/images/Cursor_HoverDrag.svg') 16 16, grab;
  --cursor-drag: url('/images/Cursor_Drag.svg') 16 16, grabbing;
  color-scheme: dark;
  font-family: var(--font-main);
  font-synthesis: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  min-width: 320px;
  background: #171717;
  cursor: var(--cursor-default);
}

button:not(:disabled) {
  cursor: var(--cursor-hover);
}

button:disabled {
  cursor: var(--cursor-unavailable);
}

html[data-drag-cursor='true'],
html[data-drag-cursor='true'] * {
  cursor: var(--cursor-drag) !important;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    scroll-behavior: auto !important;
  }
}
