.screen {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #b3e6fe;
  user-select: none;
}

.background {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  user-select: none;
}
